<link rel="stylesheet" href="/static/simple_sidebar.css">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-controller="HistoryController">
            <div  class="sidebar-nav">
            <div class="table-responsive">
            <table  class="table table-bordered" style="margin-bottom: 0;">
                <tbody>

                <tr ng-click="select($index)" ng-repeat="ts in timeslots" ng-class="{active: $index===selected}" >
                    <td ng-style="{'background-color' : getColor(ts)}">
                    <a>{[{ts.start}]}
                    </a>
                    </td>
                    <td ng-style="{'background-color' : getTaskColor(ts.task)}">
                        <a>{[{ts.task.name}]}
                    </a>
                    </td>

                </tr>
            </tbody>
            </table>
        </div>
        </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div ui-view class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>