<h3>Current Goals</h3>
<div class="row">
<div class="col-xs-12 col-s-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
  <canvas id="radar" class="chart chart-radar" data="data"
  labels="labels" click="onClick"></canvas>
</div>
</div>
<div class="row">
  <ul class="list-group">
    <li ng-click="selectRow($index)" class="task list-group-item" ng-style="{'background-color' : getColor(goal.name)}" ng-class="{selected: $index==selected}" ng-repeat="goal in goals">

    <form ng-if="editing==$index" ng-submit="editGoal(goal)" ng-keyup="$event.keyCode == 13 && editGoal(goal)">
      <input ng-model="goal.name" type="text" ng-style="{'background-color' : getColor(goal.name)}">
      
      <span class="badge" style="float: right; color: black;">
            <input type="number" ng-model="goal.weight">
      </span>
    </form>


    <div ng-if="editing!=$index">
      {[{goal.name}]}
      <span class="badge" style="float: right;">
        {[{goal.weight}]}
      </span>
    </div>
    </li>
    <li class="list-group-item">
  
      <form ng-submit="addGoal(goal_name,goal_weight)" ng-keyup="$event.keyCode == 13 && addGoal(goal_name,goal_weight)">
        <input type="text" ng-model="goal_name">
          <span style="float: right;">
            <input type="number" ng-model="goal_weight">
          </span>
      </form>

    </li>
  </ul>
</div>