<div class="container">
	<h3>Current Milestones</h3>
	<ul class="list-group">
		<li ng-click="selectRow($index)" class="task list-group-item" ng-style="{'background-color' : getColor(task.goal)}" ng-class="{selected: $index==selected}" ng-repeat="task in tasks | filter:{'done':false}">

		<form ng-if="editing==$index" ng-submit="editTask(task)">
			<input ng-model="task.name" type="text" ng-style="{'background-color' : getColor(task.goal)}">
			<span class="badge" style="float: right;">
				<select ng-model="task.goal">
					<option ng-repeat="goal in goals" ng-value="goal.name">{[{goal.name}]}</option>

				</select>
			</span>
			<input type="checkbox" ng-model="task.done">
		</form>


		<div ng-if="editing!=$index">
			{[{task.name}]}
			<span class="badge" style="float: right;">
				{[{task.goal}]}
			</span>
		</div>
		</li>
		<li class="list-group-item" ng-style="{'background-color' : getColor(goal_name)}">
	
			<form ng-submit="addTask(task_name,goal_name)">
				<input type="text" ng-model="task_name" class="task_input" ng-style="{'background-color' : getColor(goal_name)}">
					<span class="badge" style="float: right;">
					<select ng-model="goal_name">
						<option value="">None</option>
						<option ng-repeat="goal in goals" value="{[{goal.name}]}">
							{[{goal.name}]}
						</option>
					</select>
					</span>
					<input style="display: none;" type="submit">
			</form>

		</li>
	</ul>
	<h3>Done Bucket</h3>
	<ul class="list-group">
		<li ng-click="selectRow($index)" class="task list-group-item" ng-style="{'background-color' : getColor(task.goal)}" ng-class="{selected: $index==selected}" ng-repeat="task in tasks | filter:{'done':true}">

		<form ng-if="editing==$index" ng-submit="editTask(task)">
			<input ng-model="task.name" type="text" ng-style="{'background-color' : getColor(task.goal)}">
			<span class="badge" style="float: right;">
				<select ng-model="task.goal">
					<option ng-repeat="goal in goals" ng-value="goal.name">{[{goal.name}]}</option>

				</select>
			</span>
			<input type="checkbox" ng-model="task.done">
		</form>


		<div ng-if="editing!=$index">
			<s>{[{task.name}]}</s>
			<span class="badge" style="float: right;">
				{[{task.goal}]}
			</span>
		</div>
		</li>
	</ul>
	
</div>