<!-- <div class="row">
<div class="col-xs-12 col-s-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8" ng-controller="ChartController">


	<canvas class="chart chart-scatter" data="data" labels="labels" click="onClick" options="options">
	</canvas>

</div>
</div> -->
<div class="row">
	<h3>Current Milestones</h3>
	<ul class="list-group">
		<li ng-click="select(task)" class="task list-group-item" ng-style="{'background-color' : task.goal.color}" ng-class="{selected: task===selected}" ng-repeat="task in tasks | filter:{'done':false}" >


		<form ng-if="editing===task" ng-submit="editTask(task)">
			<input ng-model="task.name" type="text" style="background-color: inherit;">
			<span class="badge" style="float: right;">
				<select ng-model="task.goal" style="background-color: inherit;" ng-options="goal as goal.name for goal in goals">

				</select>
			</span>
			<input ng-change="editTask(task)" type="checkbox" ng-model="task.done">
		</form>


		<div ng-if="editing!==task">
			{[{task.name}]}
			<span class="badge" style="float: right;">
				{[{task.goal.name}]}
			</span>
			<div style="border: 1;" ng-if="selected===task" ng-click="edit(task)">
			<span class="glyphicon glyphicon-edit"></span>
			</div>
		</div>
		</li>
		<li ng-click="select()" class="list-group-item" ng-style="{'background-color' : new_task.goal.color}">
	
			<form ng-submit="addTask(new_task)">
				<input type="text" ng-model="new_task.name" class="task_input" style="background-color : inherit;">
				<span class="badge" style="float: right;">

					<select ng-model="new_task.goal" style="background-color: inherit;" ng-options="goal as goal.name for goal in goals">

					</select>


				</span>
				<input style="display: none;" type="submit">
			</form>

		</li>
	</ul>
	<h3>Done Bucket</h3>
	<ul class="list-group">
		<li ng-click="select(task)" class="task list-group-item" ng-style="{'background-color' : task.goal.color}" ng-class="{selected: task.tid==selected.tid}" ng-repeat="task in tasks | filter:{'done':true}">

		<form ng-if="editing===task" ng-submit="editTask(task)">
			<input ng-model="task.name" type="text" style="background-color: inherit;">
			<span class="badge" style="float: right;">
				<select ng-model="task.goal" style="background-color: inherit;" ng-options="goal as goal.name for goal in goals">

				</select>
			</span>
			<input ng-change="editTask(task)" type="checkbox" ng-model="task.done">
		</form>


		<div ng-if="editing!==task">
			<s>{[{task.name}]}</s>
			<span class="badge" style="float: right;">
				{[{task.goal.name}]}
			</span>
			<div style="border: 1;" ng-if="selected===task" ng-click="edit(task)">
			<span class="glyphicon glyphicon-edit"></span>
			</div>
		</div>
		</li>
	</ul>
	
</div>